<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<p>
    <% if @profile.image_url.nil? %>
    <p> No image uploaded </p>
    <% else %>
    <%= image_tag @profile.image_url, width: 200 %>
    <% end %>
</p>

  <strong><h2><%= @profile.first_name %> <%= @profile.last_name %></h2></strong>

<p>
  <strong>Username:</strong>
  <%= @profile.username %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <%= @profile.short_bio %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
