<p id="notice"><%= notice %></p>

<table>

  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user %></td>
        <td><%= order.product %></td>
        <td><%= order.profile %></td>
        <td><%= order.delivery_date %></td>
        <td><%= order.delivery_comment %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1><%= link_to 'CONTINUE SHOPPING 😉', products_path %></h1>
