<%# <div class="head">
<h1>Order your favourite cake with Keki, delivered </h1>
</div>

<div class="address">
<h4>Your address e.g. 120 Spencer St, Melbourne</h4>
</div> %>
<%# 
<div class="boxed">
</div> %>
<div class="head"><h1>Order your favourite cake with Keki, delivered</h1></div>


<div class="container">

<%= form_with url: products_path, method: :get, id: 'form-search' do |f| %>
  <%= f.label 'Your address here', id: 'label-address' %>
  <%= f.text_field :search_address %>
<p>
  <%= f.label :delivery %>
  <%= f.radio_button :delivery_type, :delivery %>
  <%= f.label :pickup %>
  <%= f.radio_button :delivery_type, :pickup %>
  <%= f.submit :find %>
  </p>
<% end %>

  <div class="cake_images">
    <div><%= image_tag("landing_cake1.jpg", class: "cake") %></div>
    <div><%= image_tag("landing_cake2.jpg", class: "cake") %></div>
    <div><%= image_tag("landing_cake3.jpg", class: "cake") %></div>
  </div>

</div>


  

</div>
