<%# <div class="head">
<h1>Order your favourite cake with Keki, delivered </h1>
</div>

<div class="address">
<h4>Your address e.g. 120 Spencer St, Melbourne</h4>
</div> %>
<%# 
<div class="boxed">
</div> %>
<div class="head"><h1>Order your favourite cake with Keki, delivered</h1></div>

<div class="label_address"> Your address e.g. 120 Spencer Street</div>

<div class="container">
  <%= form_with url: products_path, method: :get, id: 'form-search' do |f| %>
  
  <%= f.text_field :search_address, id: 'boxed'%>
<p>
  <%= f.label :delivery %>
  <%= f.radio_button :delivery_type, :delivery%>
  <%= f.label :pickup %>
  <%= f.radio_button :delivery_type, :pickup %>
  <%= f.submit :Search, id: 'search' %>
</p>
<% end %>

  <div class="cake_images">
    <div><%= image_tag("landing_cake1.jpg", class: "cake") %></div>
    <div><%= image_tag("landing_cake2.jpg", class: "cake") %></div>
    <div><%= image_tag("landing_cake3.jpg", class: "cake") %></div>
  </div>

</div>

 <div class="footer">
  <%= link_to "CONTACT US ♡ ", contact_us_path %></div>  

</div>
