<%= form_with model: @product, local: true do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, value: product.product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, value: product.description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, value: product.price %>
  </div>

  <div class="field">
  <%= form.label :image %>
  <% form.hidden_field :image, value: product.cached_image_data %>
  <%= form.file_field :image %>

  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, value: product.address %>
  </div>

  <div class="field">
    <%= form.label :quantity_available %>
    <%= form.number_field :quantity_available, value: product.quantity_available %>
  </div>

  <div class="field">
    <%= form.label :no_longer_selling %>
    <%= form.datetime_select :no_longer_selling, value: product.no_longer_selling %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>