<p id="notice"><%= notice %></p>

<section>
<p>
  <strong>PRODUCT NAME:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>DESCRIPTION:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>PRICE(AUD):</strong>
  <%= @product.price %>
</p>

<p>
  <strong>IMAGE:</strong>
    <% if @product.image_url.nil? %>
    <p> No image uploaded </p>
    <% else %>
    <%= image_tag @product.image_url, width: 200 %>
    <% end %>
</p>
  <strong>QUANTITY:</strong>
  <%= @product.quantity_available %><br>

<p>
  <strong>NO LONGER SELLING:</strong>
  <%= @product.no_longer_selling %>
</p>

<p>
<button class="pay_button">BUY NOW</button>
</p>
</section>

<div class='footer'>
<%= link_to 'Order', new_order_path(@order) %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
