<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<section>
<p>
    <% if @product.image_url.nil? %>
    <p> No image uploaded </p>
    <% else %>
    <%= image_tag @product.image_url, width: 250 %>
    <% end %>
</p>

  <strong><h2><%= @product.product_name %></h2></strong>

<p>
  <%= @product.description %>
</p>

<p>
  PRICE(AUD):
  $<%= @product.price %> <br>
</p>

<p>
  QTY:
<%= @product.quantity_available %> 
</p>

<%#
  ADDRESS:
  <%= @product.user.profile.address %>

<%#
  NO LONGER SELLING:
  <%= @product.no_longer_selling %>


<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <%= hidden_field_tag 'amount', @product.price %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @product.price %>%"
          data-locale="auto"></script>
<% end %>

<%# <p>
<button class="pay_button">BUY NOW</button>
</p> %>
</section>



<div class='footer'>
<%= link_to 'Order', new_order_path(@order) %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
