<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Image:</strong>
    <% if @product.image_url.nil? %>
    <p> No image uploaded </p>
    <% else %>
    <%= image_tag @product.image_url, width:"50%" %>
    <% end %>

</p>
 
     
       

<p>
  <strong>Quantity available:</strong>
  <%= @product.quantity_available %>
</p>

<p>
  <strong>No longer selling:</strong>
  <%= @product.no_longer_selling %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
