<!DOCTYPE html>
<html>
  <head>
    <title>KekiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= link_to image_tag("Keki.png", class: "logo"), root_path %>

<div class="nav">
  <label for="toggle"><%= image_tag("hamburger.png", class: "hamburger_icon") %><label>
  <input type="checkbox" id="toggle"/>

<body>
  <div class="menu">
    <div class="name_view">
    
    <% if current_user != nil %>
      Hi, <%= current_user.profile.first_name %>!
    <% end %>
    </div>

<% unless user_signed_in? %>

      <%= link_to "HOME", root_path %>
      <%= link_to "SIGN UP", new_user_registration_path %>
      <%= link_to "LOG IN", new_user_session_path %>

      <% else %>

      <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %>
      <%= link_to "PROFILE", edit_profile_path(current_user.profile.id) %>
      <%= link_to "SHOP", products_path %>
    
      <% if current_user.profile.first_name == nil %>
        <%= link_to "SELL", edit_profile_path(current_user.profile),{ notice: 'You must complete your profile to see your orders.'}  %>
      <% else %>
        <%= link_to "SELL", new_product_path %>
      <% end %>
    
      <% if current_user.profile.first_name == nil %>
      <%= link_to "MY ORDERS", edit_profile_path(current_user.profile) %>
      <% else %>
      <%= link_to "MY ORDERS", orders_path, { notice: 'You must complete your profile to see your orders.'} %>
      <% end %>

  <% end %>
  </div>  

 <div class="content">
    <%= yield %>
</div>

</body>
</html>
