<!DOCTYPE html>
<html>
  <head>
    <title>KekiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div><%= link_to image_tag("Keki.png", class: "logo"), root_path %>

<body>
<div class="nav">
  <label for="toggle">&#9776;<label>
  <input type="checkbox" id="toggle"/>
  <div class="menu">
    
    <% if current_user != nil %>
    <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %>
    <%= link_to "PROFILE", profile_path(id: current_user) %>
    <%= link_to "SELL", new_product_path %>
    <%= link_to "MY ORDERS", my_orders_path %>
    <% else %>
    <%= link_to "SIGN UP", new_user_registration_path %>
    <%= link_to "LOG IN", new_user_session_path %>
    <% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
